body{
    padding: 1rem;
    background-color: black;
    
}
h1{
    font-family: serif;
    color: white;
}
.contain{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 3rem;
  
}
.page-item.active .page-link{
    background-color:  #d71a38;
    border-color:  #d71a38;
}
.page-link{
    color:#d71a38; ;
}
.btn-outline-primary{
    background-color:  #d71a38;
    border-color:  #d71a38;
    color: white;
}
.btn-outline-primary:hover{
    background-color: indianred;
    border-color: indianred;
}
#searchbox{
    border-radius: 6px;
    outline: none;
    border-width: thin;
   
}
#searchbox:hover{
    border-radius: 6px;
   
    border-color: #d71a38;
   
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #d71a38;
  }
  #example .selected{
    background-color: #d71a38;
  }